body	{
background-color: #F4F3EE;
}

.bg-light {
margin-bottom: 20px;
}

#Descripcion {
opacity: 0.7;
}

.card {
border: none;
background-color: #F4F3EE;
transition: 0.5s;
}

.xpnd:hover {
transform: scale(1.2);
}

.presentacion {
border-radius: 50%;
}

.jumbotron-fluid {
background-color: white;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.recomendaciones:hover {
 transform: rotateZ(0.5deg);
 border-radius: 5px;
}


.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

